<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node + Handlebars App</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
</head>
<body>
	{{> nav }}

    {{{ body }}}

</body>
</html>