<!DOCTYPE html>
<html>
	<head>
					<link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
	</head>
	<body>
    <% include partials/nav.ejs %>
	 <h1>Hey Node Ninja!</h1>
	 <p>This is the best HTML document on the internet.</p>

	</body>
</html>
