<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css"/>
	</head>
	<body>
	 <h1>Hey Node Ninjas!</h1>
	 <p>This is the profile of <%= person %></p>
	 <p>Age: <%= data.age %></p>
	 <p>Job: <%= data.job %></p>
	 <p><a href="/home">Home</a> | <a href="/contact">Contact Page</a></p>
	</body>
</html>